asgiref==3.8.1
black==24.8.0
click==8.1.7
django==4.2.24
djangorestframework==3.14.0
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.4.0
sqlparse==0.5.3
typing-extensions==4.13.2
